/* .login {
  height: 100vh;
}

.loginContainer {
  display: flex;
  height: 80vh;
  width: 100%;
}

.leftLogin {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.loginLogo {
  margin-top: 30px;
  height: 300px;
  width: auto;
}

.leftLogin h1 {
  color: #020100;
}

.leftLogin p {
  width: 50%;
  text-align: center;
}

.rightLogin {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: center;
}

.loginBox {
  height: 75%;
  width: 60%;
  background-color: #a09c96;
  border-radius: 30px;
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  position: relative;
}

.loginIconUser {
  color: #020100;
  font-size: 130px;
}

.loginInput {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
  width: 100%;
}

.loginInput label {
  margin-bottom: 10px;
  color: #020100;
  font-size: 20px;
  font-weight: 550;
}

.loginInput input {
  margin-bottom: 10px;
  height: 30px;
  border: none;
  width: 75%;
}

.loginButton {
  width: 150px;
  height: 45px;
  font-size: 20px;
  border: none;
  border-radius: 15px;
  color: #020100;
  margin-top: 20px;
  cursor: pointer;
}

.login-close-btn {
  position: absolute;
  right: 20px;
  top: 10px;
  border: none;
  font-size: 30px;
  font-weight: 700;
  background-color: transparent;
  color: #ffff;

  cursor: pointer;
}

.forgotPassClick {
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

.loginInput span {
  text-align: center;
}

.createNewAccountHori {
  height: 3px;
  border-top: 3px solid #2c5f78;
  width: 80%;
}

.createNewAccountBtn {
  width: 150px;
  height: 45px;
  font-size: 15px;
  border: none;
  border-radius: 15px;
  color: #2c5f78;
  cursor: pointer;
  margin-top: 10px;
}

@media screen and (max-width: 940px) and (min-width: 767px) {
  .loginContainer {
    flex-direction: column;
    align-items: center;
  }

  .loginBox {
    width: 90%;
    height: 50vh;
  }

  .rightLogin {
    width: 70%;
  }

  .leftLogin {
    width: 70%;
  }

  .loginIconUser {
    font-size: 100px;
  }
  .loginLogo {
    height: 115px;
  }
  .leftLogin h1 {
    font-size: 28px;
    margin-top: 30px;
  }
  .leftLogin p {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .loginContainer {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  .loginContainer {
    width: 100%;
    justify-content: center;
  }

  .leftLogin h1 {
    margin-top: 50px;
    font-size: 25px;
  }

  .rightLogin {
    width: 80%;
  }

  .leftLogin p {
    display: none;
  }

  .loginLogo {
    display: none;
  }

  .loginBox {
    width: 360px;
    height: 65vh;
  }
}

@media screen and (max-height: 730px) and (max-width: 940px) {
  .loginContainer {
    justify-content: center;
  }

  .leftLogin p {
    display: none;
  }

  .loginLogo {
    display: none;
  }

  .loginBox {
    width: 360px;
    height: 65vh;
  }
} */

/* @media screen and (max-width: 767px) {
  .topLoginDesign1 {
    height: 10px;
  }
  .topLoginDesign2 {
    height: 10px;
  }
  .loginContainer {
    display: flex;
    flex-direction: column;
    margin-top: -10px;
  }
  .loginLogo {
    width: auto;
    height: 130px;
  }
  .leftLogin h1 {
    margin-top: 3px;
    font-size: 30px;
  }
  .leftLogin p {
    display: none;
  }
  .loginBox {
    width: 80%;
    height: auto;
    margin-top: 30px;
  }
  .loginIconUser {
    margin-top: 10px;
    font-size: 90px;
    margin-bottom: -3px;
  }
  .loginInput label {
    margin-bottom: 5px;
    font-size: 18px;
  }
  .loginInput input {
    width: 75%;
    height: 26px;
    margin-bottom: 5px;
  }
  .loginButton {
    margin-top: 10px;
    height: 40px;
    margin-bottom: 20px;
  }
  .forgotPassClick {
    font-size: 13px;
  }
  .loginInput span {
    display: none;
  }
  .createNewAccountBtn {
    margin-bottom: 10px;
    height: 40px;
  }
} */

/* Container for the whole page */
.login-container {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

/* Left side of the page */
.login-left {
  background-image: linear-gradient(to left, transparent 30%, #ccc 95%),
    url("../../images/login-smooth-skin.jpg");
  background-size: cover;
  color: white;
  padding: 30px;
  flex: 1;
  height: 100vh;

  display: flex;
  justify-content: center;
  flex-direction: column;
}

.login-left h2,
p {
  color: black;
}

/* Right side of the page */
.login-right {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 50vh;
  flex: 1;
}

.login-logo {
  height: 150px;
  width: auto;
}

.login-right-itemlist {
  display: flex;
  flex-direction: column;
}

/* Form for the login inputs and button */
.login-right form {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.login-right h1 {
  margin-bottom: 20px;
}

.login-right label {
  font-size: 18px;
  margin-bottom: 10px;
}

.login-right p {
  max-width: 350px;
  word-wrap: break-word;
  text-align: center;
  margin-bottom: 20px;
}

.login-right input[type="email"],
.login-right input[type="password"] {
  width: 330px;
  padding: 10px 0px 10px 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
}

.login-right button[type="submit"] {
  background-color: #a09c96;
  color: white;
  border-radius: 5px;
  border: none;
  width: 350px;
  padding: 10px 0px;
  font-size: 18px;
  cursor: pointer;
  margin-bottom: 30px;
}

.login-right button[type="submit"]:hover {
  background-color: #49474a;
}

.login-signup-container {
  margin-top: 30px;
}

.login-signup {
  background-color: transparent;
  color: black;
  border: none;
  text-decoration: underline;
  cursor: pointer;
}

@media screen and (max-width: 900px) and (min-width: 768px) {
  .login-left {
    width: 40%;
  }

  .login-right {
    padding: 0px 30px;
  }
}

@media screen and (max-width: 768px) {
  .login-container {
    width: 100%;
  }
  /* Hide the left side of the page on mobile devices */
  .login-left {
    display: none;
  }

  /* Adjust the width of the form on mobile devices */
  .login-right {
    width: 80%;
  }
}
