.orderConfirmationModal {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.orderConfirmBtns {
  display: flex;
  align-items: center;
  gap: 20px;
}

.orderConfirmPrice {
  font-size: 24px;
}

.orderProceedBtn {
  background-color: green;
  color: white;
  font-weight: bold;
  padding: 10px 30px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

.orderCancelBtn {
  background-color: red;
  color: white;
  font-weight: bold;
  padding: 10px 30px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

.shipping-modal {
  position: relative;
  display: flex;
  align-items: center;
  justify-items: center;
  flex-direction: column;
}

.shipping-btn-close {
  position: absolute;
  font-size: 20px;
  border: none;
  background-color: transparent;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.qrImage {
  height: 400px;
  width: auto;
  object-fit: contain;
}
